@import url(https://fonts.googleapis.com/css?family=Karla:100,200,400);

.navBar {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
}
.navLinks {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li.navList {
  float: left;
}
li.navList a {
  display: block;
  color: rgb(3, 3, 3);
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-weight: bold;
}
.footer {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
  padding-top: 40px;
}
.footer img {
  display: block;
  height: 60px;
  padding-top: 150px;
  padding-right:10px ;
}
.footerNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  align-items: flex-end;
  text-align: center;

}

li.footerLink a {
  display: block;
  color: rgb(3, 3, 3);
  text-align: center;
  padding: 16px;
  text-decoration: none;
  text-align: left;
}

.heading {
  display: grid;
  background-color: #495E57 ;
  /*grid-template-areas:
    'heading heading image'
    'subheading subheading image'
    'description description image'
    'button image' ;*/
 grid-template-columns: minmax(min-content 280px) minmax(min-content 400px);
 grid-template-rows: 38px 45px 80px;
 gap: 5px;
 padding: min(25vw);
 padding-top: 20px;
 padding-bottom: 0;
 margin-top: 0;
}
.heading > div {
  /* background-color: white; */
}
.headingImg {
  grid-column: 2;
  grid-row: 1 / span 3;
  position: relative;
  bottom: -25px;
  justify-self: end;
}
.headingImg img {
  border-radius: 15px;
}
.title {
  line-height: 0;
  margin: 0;
  color: #F4CE14;
  font-family: 'Markazi Text';
  font-size: 1.5rem;
}
.subHeading {
  line-height: 0;
  font-family: 'Markazi Text', serif;
  font-weight: lighter;
  color: white;
  font-size: 1.3rem;
  padding: 0px;
  margin-bottom: 10px;
}
.description {
  font-family:'Karla';
  font-weight: 300;
  font-size: 1.2rem;
  color: white;
}
.button .reserve {
  grid-area: button;
  background-color: #F4CE14;
  border: transparent;
  color: black;
  padding: 15px;
  margin: 30px 10px 60px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px ;
  text-align: center;
  font-weight: 600;
}
/*.heading {
  display:flex ;
  background-color: #495E57;
  flex-direction: column;
}

.title {
  grid-area: heading;
  font-size: 50px;
  color: #F4CE14;
  font-family: 'Markazi Text', serif;
  font-weight: 900;
  text-align: left;
  justify-self: start;
}
.subHeading {
  grid-area: subheading;
  font-size: 35px;
  margin-top: 3rem;
  color: white;
  font-family: 'Markazi Text', serif;
  font-weight: lighter;
  text-align: left;
}
.headingImg {
  grid-area: image;
  width: 320px;
  position: relative;
  bottom: -25px;
  border: transparent;
  border-radius: 30px 30px 30px 30px;
}
.description {
  grid-area: description;
  font-size: 1.2rem;
  color: white;
  text-align: left;
  font-family:'Karla';
  font-weight: 300;
  padding-right: 50px;
}*/

/*.specialsHeading {
  display: inline-flex;
  align-items: center;
  padding: 260px;
  padding-bottom: 10px;
  padding-top: 20px;
}
.specialsHeading > h3 {
  color: black;
  font-family: 'Markazi Text';
  font-size: 50px;

}
.specialsHeading > a {
  padding-left: 5px;
}*/